<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818851133596-7br6u1t6q7icm2bo2hpguqakt8fgjpot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818851133596-7br6u1t6q7icm2bo2hpguqakt8fgjpot</string>
	<key>API_KEY</key>
	<string>AIzaSyAh77_mxxHziwwteEiRXxrg72iJWJvqvHg</string>
	<key>GCM_SENDER_ID</key>
	<string>818851133596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fieldcam.app</string>
	<key>PROJECT_ID</key>
	<string>fieldcam-2a659</string>
	<key>STORAGE_BUCKET</key>
	<string>fieldcam-2a659.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818851133596:ios:e167abbe1ffc6369109559</string>
</dict>
</plist>